# Dependencias

vendor/
composer.lock
composer.phar

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =========================
# Editors
# =========================
# PhpStorm
.idea/
.idea/Base.iml
.idea/copyright/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
/.idea/codeStyleSettings.xml
/.idea/encodings.xml
/.idea/markdown-navigator.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/copyright
/.idea/jsLinters
/.idea/markdown-navigator
/.idea/base.iml
/.idea/blade.xml

# Application Files
/app/*/routes.cache.php
/app/*/config.php